{{page-title "Index"}}
<ListFilter @filter={{action "filterByCity"}} as |filteredResults|>
  <ul class="results">
    {{#each filteredResults as |rentalUnit|}}
      <li><RentalListing @rental={{rentalUnit}} /></li>
      {{!-- {{rentalUnit.id}} --}}
    {{/each}}
  </ul>
</ListFilter>
{{outlet}}